.git
.github
.gitignore
.dockerignore
vendor/
node_modules/
assets/dessin/node_modules/
var/cache/
var/log/
var/sessions/
*.md
docker-compose*.yml
.env.local
.env.*.local
phpunit.xml
phpstan.neon
db/
dbtest/